.navbar-nav li a:hover {
    color: white !important;
    background-color: #812228 !important;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.wrapper{
    width: 100%;
    margin: auto;
    overflow:hidden;
    position: fixed;
    z-index: 10;
}
